//- //- views/track.pug

//- extends layout.pug

//- block content
//-   .track-container
//-     img.track-image(src=trackInfo.album.images[0].url, alt='Album Cover')
//-     h1.track-name #{trackInfo.name}
//-     ul.artists
//-       each artist in trackInfo.artists
//-         li.artist #{artist.name}
//-     audio.controls
//-       source(src=trackInfo.preview_url, type='audio/mp3') Your browser does not support the audio tag.
